<h1>UsersRoles</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <% @users_roles.each do |user_role| %>
    <tr>
      <td><%= user_role.user.email %></td>
      <td><%= user_role.role.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<!-- <div class="container">
  <section>
    <header>
      <h3>Roles Assigned</h3>
    </header>

    <ol class="list-group">
      <% @users_roles.each do |user_role| %>
        <li class="list-group-item clearfix">
          <h4 class="pull-right">
            <small class="pull-right">

            </small>
          </h4>
          <h3 class="h4">
            <%= user_role.user.email %>
            <%= user_role.role.name %>
          </h3>
        </li>


      <% end %>
    </ol>
  </section>
</div> -->
