<div class="container">
  <div class="well">
    <h2 class="h3">Account Updated</h2>
    <p>
      Your new details are as follows :  <br>
      Login  <a href="#">here</a> <br>
      Your account details are : <br>
      Email : <%= @user.email %> <br>
      Password : <%= @pass %> <br>
      Contact No : <%= @user.mobile %>
    </p>
  </div>
</div>
