<div class="container">
  <div class="well">
    <h2 class="h3">Removed from Role</h2>
    <p>
      Hello <%= @user.username %>, <br>
      Your email <%= @user.email %> has been added to role <%= @role %> <br>
    </p>
  </div>
</div>
