<div class="container">
  <div class="well">
    <h2 class="h3">Document Received</h2>
    <p>
      New Document <b><%= @document.name %></b> ,received in the project <b><%= @document.group.name %></b>
    </p>
  </div>
</div>
