<div class="container">
  <div class="well">
    <h2 class="h3">New Document assigned</h2>
    <p>
      You have been assigned document <b><%= @document.name %></b> ,uploaded in the project <b><%= @document.group.name %></b>
      <br>
      click here to login <a href="http://www.gpileportal.co.in">www.gpileportal.co.in</a>
    </p>
  </div>
</div>
