<div class="container">
  <div class="well">
    <h2 class="h3">Document Uploaded</h2>
    <p>
      New Document <b><%= @document.name %></b> ,uploaded in the project <b><%= @document.group.name %></b>
      <br>
      click here to login <a href="http://www.gpileportal.co.in">www.gpileportal.co.in</a>
      and approve the document
    </p>
  </div>
</div>
