<div class="container">
  <div class="well">
    <h2 class="h3">Document Approved</h2>
    <p>
      Document <b><%= @document.name %></b> ,uploaded in the project <b><%= @document.group.name %></b>
      has been approved !!
      <br>
      click here to login <a href="http://www.gpileportal.co.in">www.gpileportal.co.in</a>
    </p>
  </div>
</div>
