<% provide :title, "Search Results" %>

<div class="container-fluid">
  <div class="row">
    <h2 align="center">Search Results for : <small><%= params["q"]["name_cont"] %></small></h2>

    <div class="col-md-2">
      <p>
        Advanced search <a href="#">click here</a>
      </p>
    </div>
    <div class="col-md-8">
      <% if @search_documents.all.count != 0 %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Download</th>
            </tr>
          </thead>

          <tbody>
            <% @search_documents.each do |doc| %>
              <tr>
                <td><%= link_to doc.name, document_path(doc) %></td>
                <td><%= doc.document_category.name %></td>
                <td><%= link_to "download", doc.file.url, target: '_blank' if doc.file? %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <% else %>
          <div class="jumbotron">
            <h3 align="center">Not found</h3>
          </div>
      <% end %>

    </div>
    <div class="col-md-2">

    </div>
  </div>

</div>
