<div class="log">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= log.description.html_safe %>
    </div>
  </div>
</div>
<!-- <section class="log">
  <header>
    <h3>Logs</h3>
  </header>

  <ol class="list-group">
    <li class="list-group-item clearfix">
      <h3 class="h4">
        <%= log.description.html_safe %>
      </h3>
    </li>
  </ol>
</section> -->
