<% provide :title, "Admin - Log Book" %>
<div class="container-fluid">
  <ul class="nav nav-tabs nav-justified text-uppercase">
    <li><a href="/admin/logs/index">All Logs</a></li>
    <li><a href="/admin/logs/viewUser">view User logs</a></li>
    <li><a href="/admin/logs/uploadUser">upload user logs</a></li>
    <li class="active"><a href="/admin/logs/adminUser">admin logs</a></li>
  </ul>
</div>
<div class="container-fluid">
  <br>
  <div class="col-md-1">
    <a href="/admin/logs/adminUser.pdf" class="btn btn-primary btn-sm text-uppercase" target="_blank">Export <br> pdf</a>
  </div>
  <div class="col-md-10">
    <div id="admin-Logs">
      <section>
        <ol class="list-group">
          <%= render @adminLogs %>
        </ol>
      </section>
    </div>
    <%= will_paginate @adminLogs %>
  </div>
  <div class="col-md-1"></div>
</div>
