<% provide :title, "Upload User - Log Book" %>

<div class="container-fluid">


  <div id="wrapper" style="margin-top: -1.3%;">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="<%= root_path %>">Home</a>
          </li>
            <li class="active"><a href="/admin/logs/index">All Logs</a></li>
            <li><a href="/admin/logs/viewUser">View User logs</a></li>
            <li><a href="/admin/logs/uploadUser">Upload user logs</a></li>
            <li><a href="/admin/logs/adminUser">Admin logs</a></li>
            <li><a href="/admin/logs/uploadUser.pdf" target="_blank">Export Pdf</a></li>
            <li><%= link_to "Back", :back %></li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <h1>Simple Sidebar</h1>
                    <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                    <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
                    <h3 class="h4" align="center">Upload User Logs</h3>
                    <div id="uploadUser-Logs">
                      <section>
                        <ol class="list-group">
                          <%= render @uploadUserLogs %>
                        </ol>
                      </section>
                    </div>
                    <%= will_paginate @uploadUserLogs %>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


</div>
