# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0a52bd64eb43036331b562ebbc7978923178a45b51b696afbf6c0c03c26430eb4cc05895b018382f0eb8eb128a30b4ec3e26801985b8b2fe21ef57fa967673c3

test:
  secret_key_base: ec215ef125d8c724d30c380ed4fe5af3e640ee3c9d712c7bc611c79cac1fbb16d0f098e6a513e19497c05d15f4ca7ebe550df0b4abfca95485e05bb500bb91d4

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV['GPIL_SECRET_KEY_BASE'] %>
