<% provide :title, @role.name + " - Admin" %>

<div class="container">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <section>
      <header>
        <h3>Users in Role : <%= @role.name %></h3>
      </header>

      <ol class="list-group">
        <% @users.each do |user| %>
          <li class="list-group-item clearfix">
            <h4 class="pull-right">
              <small class="text-uppercase">
                <%= link_to "show", admin_user_path(user), class: "btn btn-info btn-sm" %>
                <%= link_to "remove", del_role_admin_role_path(u_id: user.id) ,class: "btn btn-danger btn-sm" %>
              </small>
            </h4>
            <h3 class="h4">
              <%= user.email %>
            </h3>
          </li>
        <% end %>
      </ol>
    </section>

  </div>
  <div class="col-md-2"></div>
</div>
