<% provide :title, "Documents" %>
<div class="container-fluid">

    <div class="col-md-2">
      <a href="<%= new_admin_document_path %>" class="btn btn-success btn-sm text-uppercase">
        <span class="glyphicon glyphicon-cloud-upload"></span> Upload Document
      </a>
    </div>
    <div class="col-md-8">
      <div id="documents">
        <section>
          <header>
            <h3>Documents</h3>
          </header>

          <ol class="list-group">
            <%= render @documents %>
          </ol>
        </section>
      </div>
      <%= will_paginate @documents %>
    </div>

    <div class="col-md-2"></div>

</div>
