.flex-container-admin {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: lightgrey;
}

.flex-item-admin {
    background-color: cornflowerblue;
    width: 100px;
    height: 150px;
    margin: 10px;
}
